.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form input {
  width: 100%;
  height: 3.375rem;
  padding: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-500);
  border-radius: 8px;

  color: var(--gray-300);
  line-height: 1.4;
}

.form input:focus {
  border: 1px solid var(--purple-dark);
  outline: 0;
  color: var(--gray-100);
}

.form button {
  width: 5.625rem;
  height: 3.25rem;
  padding: 1rem;

  background: var(--blue-dark);
  border: 1px solid var(--blue-dark);
  border-radius: 8px;

  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transaction: background-color 0.2s;
}

.form button:hover {
  background: var(--blue);
}


@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }


  .form button {
    width: 100%;
  }
}

.list {
  margin-top: 4rem;
}

.list header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.created {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.created strong {
  color: var(--blue);
  font-size: 0.875rem;
  font-height: 1.0rem;
}

.created span {
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;

  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

.done {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.done strong {
  color: var(--purple);
  font-size: 0.875rem;
  font-height: 1.0rem;
}

.done span {
  background: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;

  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

.empty {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--gray-300);
  line-height: 1.4;
}

.empty svg {
  margin-bottom: 1rem;
}
